<div class='message'>
  <% if notification.target.present? %>
    <strong><%= notification.actor.username %></strong> has messaging in group
    <strong><%= notification.target.content %></strong><br>
  <% end %>
</div>
