<div class="notifications row">
  <div class="heading clearfix">
    <%= t('notifications.all_notifications') %>

  </div>
  <div class="list">
    <% @notification_groups.each do |group, notifications| %>
      <div class="notification-group">
        <%= render notifications %>
      </div>
  <% end %>
  </div>
  <%= paginate @notifications %>
</div>
